name: Push Event Workflow

on: push

jobs:
  unit-testing:
    runs-on: ubuntu-latest

    steps:
    - name : Checkout code
      uses : actions/checkout@v2

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -r requirements.txt
    - name: Lint with Ruff
      run: |
          pip install ruff
          #ruff --format=github --target-version=py310
      continue-on-error: true

    - name: Test with pytest
      run: |
         pytest --exit-first --verbose --failed-first \
        --cov=. --cov-report html  
